

<h2>Welcome <%= current_user.first_name %></h2>                    
<h1>Categories</h1>
<h3>Welcome to the COVID19 Store!</h3>
<h3>Please Choose a Category to Browse</h3>

<div>
  <% @categories.each do |cat| %>
  <%= link_to "#{cat.name}" , category_path(cat.id) %>
  <br />
  <br />
  <% end %>
</div>
<br />

<<%= link_to "Create New Category", new_category_path %>

