
<h3><%= @category.name %></h3>


<div>
  <% @products.each do |pro| %>
  <%= "Name: #{pro.name}" %>
  <br />
  <%= "Price: $ #{pro.price}" %>
  <br />
  <% end %>
</div>
<%= link_to "Go Back", categories_path %>
