<div class="topnav">
<nav>
  <ul>
    <div>
     <li>
     Health
      </li>
      <li>
     Entertainment
      </li>
      <li>
     Tolietries
      </li>
       <li>
     food
      </li>
    </div>
    
    <div class="shiftRight">
    <li>
      Cart
    </li>
    <li>
      <%if signed_in?%>
              <li><%=link_to "Sign Out",destroy_user_session_path, method: :delete %></li>
              <%else%>
              <li><%=link_to "Sign in", new_user_session_path %></li>
        <%end%>
    </li>
    </div>
  </ul>
</nav>
</div>

